<header class="header" [ngClass]="{'highlight': habilitar_clase}">
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, provident reprehenderit magnam dignissimos
        rem a animi odio modi, nostrum fugit optio. Nesciunt voluptates eveniet qui inventore. Consequatur praesentium
        esse ducimus.</p>
        <div class="contenedor_boton">
            <button class="boton_amarillo" title="Cambiar fondo" [disabled]="habilitar_boton_amarillo" (click)="botonAmarillo()">&nbsp;</button>
            <button class="boton_gris" title="Cambiar fondo" [disabled]="habilitar_boton_gris" (click)="botonGris()" >&nbsp;</button>
        </div>
</header>